@font-face {
   font-family: 'Fjalla One';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///G:/Extras/Documents/Documents%20Folder/GitHub/yousifragab.github.io/fonts/Fjalla One/regular.ttf') format('truetype');
}
